<div class="wrap">
  <div class="search">

     <input
     [(ngModel)]="search"
     (keyup)="searchList()"
     type="text"
     class="searchTerm"
     placeholder="Shopping List">

     <button
     (click)="searchList()"
      class="searchButton">
       <i class="fa fa-search"> </i>
     </button>

     <button
     class="addButton"
     (click)="addItem()"
     >
       <i class="fa fa-plus"> </i>
    </button>

  </div>
  <div class="items">
    <ul *ngIf="search.length > 1">
    <li *ngFor="let searchItem of searchItems; let i = index">{{ searchItem }}</li>
    </ul>
    </div>
</div>

